@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome
            </h1>
            <h2 class="subtitle">
                Hero subtitle
            </h2>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</section>